body {
  --keycap-height: 24px;
  --keycap-width: 100px;
  --keycap-max-width: 100%;
  --keycap-gap: 1px;
}

/* hide menu button */
math-field::part(menu-toggle) {
  display: none;
}

.MLK__toolbar {
  display: none !important;
}

.withoutKeyboard math-field::part(virtual-keyboard-toggle) {
  display: none;
}

.MLK__tex-medium {
  font-size: 16px !important;
}
